.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #5865bf;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.button:active {
    background-color: #ffffff;
    color: #000000;
}

.item {
    text-align:center;
}

.notice {
    color: blue;
    text-align:center;
}